<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shortcutter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shortcutter.Properties.Settings>
            <setting name="FloatOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExt" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="LocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LocationY" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="OpacityPercent" serializeAs="String">
                <value>0.80</value>
            </setting>
          <!--The user will have to change this - before running, I think - to point to a folder with shortcuts. It's propagated as User settings (?thus the delay on initial run), which means the saved location of the form will be in a well-buried config file beneath the user's profile. Clearly not meant to be hand-edited. I may have to rethink this...-->
            <setting name="ShortcutFolder" serializeAs="String">
                <value>C:\Users\ll56150\Desktop\Shortcuts</value>
            </setting>
        </Shortcutter.Properties.Settings>
    </userSettings>
</configuration>